// VARIABLES
$color-light: #eee;
$color-medium: #bbb;
$color-dark: #333533;
$color-darker: #242423;
$accent-light: #f5cb5c;
$accent-dark: #db5461;

$font-normal: "Orbitron", sans-serif;
$font-em: "Audiowide", cursive;

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1em;
  // border: 1px solid white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  min-height: 100vh;
  font-family: $font-normal;
  background-image: linear-gradient($color-medium, $color-light);

  #calculator {
    padding: 1em 0.5em;
    width: 100%;
    max-width: 25em;
    font-size: 1.6rem;
    background-color: $color-dark;
    border-radius: 0.4em;

    #header {
      height: 1em;
      line-height: 1em;
      text-align: left;
      color: $color-medium;
    }

    #display {
      font-size: 1.5em;
      @media (min-width: 768px) {
        font-size: 1.8em;
      }
      margin: 0.5em 0 1em;
      background: $color-darker;
      border: 1px solid $color-medium;
      border-radius: 0.4em;
      color: $accent-light;
      font-family: $font-em;
      font-style: italic;
      p {
        margin: 0.5em;
        height: 1em;
        text-align: right;
      }
    }

    #keyboard {
      display: grid;
      grid-template: repeat(5, 2.8em) / repeat(4, 1fr);
      gap: 0.4em;
      padding: 0.4em;
      background: $color-darker;
      border-radius: 0.4em;

      button {
        font-size: 1.5em;
        background-color: white;
        border: none;
        color: $color-darker;
        border-radius: 0.1em;

        &.operator {
          background-color: $accent-light;
        }
        &.operator[id="equals"] {
          background-color: $color-medium;
        }

        &.interface {
          background-color: $accent-dark;
          color: white;
        }

        &:active {
          transform: scale(0.96);
        }
      }
    }
  }
}
